__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore datasets
data/images/
data/labels/
data/annotations/
*.cache

# Ignore model weights
models/**/weights/
*.pt

# Ignore large output folders
results/image_*/
runs/
